<div *ngIf="city">
    <div *ngIf="city.gauges">
        <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>
                <app-gauge [gaugeValue]="city.gauges[0]"></app-gauge>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-gauge [gaugeValue]="city.gauges[1]"></app-gauge>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-gauge [gaugeValue]="city.gauges[2]"></app-gauge>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-gauge [gaugeValue]="city.gauges[3]"></app-gauge>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-gauge [gaugeValue]="city.gauges[4]"></app-gauge>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <button class="delete" mat-icon-button (click)="deleteCity()">
        <mat-icon>
            delete
        </mat-icon>
    </button>
</div>